<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.185.41:1521:intra</property>
    <property name="hibernate.connection.username">PROYECTO01</property>
    <property name="hibernate.connection.password">PROYECTO01</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="com/cis/paseaproduccionweb/beans/PpUsuarios.hbm.xml"/>
    <mapping resource="com/cis/paseaproduccionweb/beans/PpHorasPases.hbm.xml"/>
    <mapping resource="com/cis/paseaproduccionweb/beans/PpEntornos.hbm.xml"/>
    <mapping resource="com/cis/paseaproduccionweb/beans/PpRoles.hbm.xml"/>
    <mapping resource="com/cis/paseaproduccionweb/beans/PpSistemas.hbm.xml"/>
    <mapping resource="com/cis/paseaproduccionweb/beans/PpFormularios.hbm.xml"/>
    <mapping resource="com/cis/paseaproduccionweb/beans/PpRolPermisos.hbm.xml"/>
    <mapping resource="com/cis/paseaproduccionweb/beans/PpHistoriales.hbm.xml"/>
    <mapping resource="com/cis/paseaproduccionweb/beans/PpPermisos.hbm.xml"/>
    <mapping resource="com/cis/paseaproduccionweb/beans/PpSubmenus.hbm.xml"/>
    <mapping resource="com/cis/paseaproduccionweb/beans/PpModulos.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
